<script src="https://giscus.app/client.js"
        data-repo="hsingko/hsingko.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkzMTA1MTA3ODA="
        data-category="Announcements"
        data-category-id="DIC_kwDOEoIEvM4CSsPU"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>
